{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>
    {% if notification %}
        <div class="alert alert-info">
            {{ notification }}
        </div>
        <hr>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="S'inscrire">
    {{ form_end(form) }}
{% endblock %}
